:not(article) section, article {
  padding: 2rem;
  display: flex;
}

h1, h2, h3, table {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

p, a {
  font-size: 1.2rem;
  font-family: "Zilla Slab", serif;
}

sub {
  font-size: 50%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.info {
    padding: 0; 
    display: flex; 
    flex-direction: column; 
}

.info * {
    margin: 0;
}

.info div {
    margin-bottom: 1rem;
}

.info p {
    font-size: 1rem; 
}

#summary {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#summary h1 {
  margin-bottom: 0.3rem;
  margin-top: 0;
  color: var(--dark-grey);
  font-size: 1.2rem;
  text-align: center;
}
#summary .info {
  display: inline-flex;
  font-family: "Open Sans", sans-serif;
}
#summary .info .big-number {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 0.7rem;
  color: var(--green);
}
#summary .info .unit {
  text-align: center;
  font-size: 1.4rem;
}
#summary .info div {
  margin-bottom: 0;
}
#summary > img {
 width: 7rem;
 margin-bottom: 1.25rem;
}
@media screen and (max-width: 760px) {
  #summary > img {
    width: 5rem;
  }
}

#source {
  background-color: var(--green);
  justify-content: center;
}
#source > img {
  max-width: 40%;
  border: 10px solid white;
  max-width: min(40%,350px);
}
#source .info {
  flex-grow: 1;
  margin-left: 1rem;
  color: white;
  max-width: 500px;
}
@media screen and (min-width: 1000px) {
  #source .info {
    margin-left: 3rem;
  }
}
#source .info > :first-child {
  margin-bottom: 1.5rem;
}
#source .info .meter {
  width: 100%;
  background-color: var(--medium-green);
  height: 0.75rem;
  border-radius: 5px;
}
#source .info p {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

#breakdown, #save {
  display: revert;
}
#breakdown > p, #save > p, #emission-types > p {
 text-align: center;
 font-size: 1.3rem;
 margin-bottom: 2rem;
}
#breakdown table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  max-width: 800px;
  margin: auto;
}
#breakdown thead {
  background-color: var(--medium-green);
  color: white;
}
#breakdown thead th {
  border-bottom: hidden;
  border: 1px solid white;
}
#breakdown th, #breakdown td {
  font-weight: normal;
  padding: 0.75rem;
  text-align: center;
}
#breakdown td {
  color: var(--green);
  border: 1px solid var(--medium-green);
}
#breakdown tbody tr:hover {
  background-color: #E1E9DA5E;
}

#save {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
#save .btn-white {
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 3px 5px var(--light-grey);
  border-radius: 10px;
  color: var(--green);
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: auto;
}
#save .btn-white:hover {
  background-color: var(--darkest-green);
  color: white;
}
#save .btn-white, #save .btn-white:hover {
  transition: all 0.5s ease-in-out;
}
.fa-bookmark {
  line-height: 1.2;
}


#about-results {
  background-color: var(--light-green);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 20px var(--light-grey);
  width: 100%;
  flex-flow: column nowrap;
  padding: 1.25rem 2rem;
  align-items: center;
}
#about-results > section.info {
  display: none;
  max-width: calc(850px + 3rem);
}
#about-results.expanded .arrow {
  cursor: pointer;
  transform: rotate(180deg);
}
#about-results h1 {
  text-align: center;
  width: 100%;
  margin-top: 0;
  transition: font-size 0.5s ease-in-out;
}
#about-results.expanded h1 {
  font-size: 2.2rem;
}
#about-results .arrow {
  text-align: center;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
#about-results h3 {
  font-size: 1.5rem;
}
#about-results hr {
  width: 180px;
  height: 16px;
  margin: -12px -3px 10px;
  background-color: var(--medium-green);
  opacity: 0.3;
  border: none;
}

#emission-types {
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#emission-types > p {
  margin-bottom: 0;
}


.modal {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.modal .popup {
  margin: auto;
  padding: 2rem;
  background-color: white;
  height: min-content;
  border-radius: 10px;
}
.modal .popup > img {
  height: 65vh;
  max-width: revert !important;
  border: 1px solid var(--light-grey) !important;
}
.modal .popup h2 {
  margin-top: 0;
}

.modal .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal .close i {
  font-weight: 300 !important;
}

.clickables > * {
  padding: 12px;
  font-size: 1rem;
  border-radius: 10px;
}
.btn-green {
  margin-left: 0.2rem;
  background-color: var(--medium-green);
  color: white;
  transition:  background-color 0.2s ease-in-out;
  border:  none;
}
.btn-green:hover {
    background-color: var(--dark-green);
}
.clickables input {
  border: 1px solid var(--light-grey);
}
.copy-link::before {
  font-family: "Font Awesome 5 Pro";
  content: '\f0c1\00a0\00a0';
}
.copy-link::after {
  content: '\00a0';
}
