{% extends 'base.html' %}
{% load static %}

{% block title %}GreenTrack | Home {% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock %}

{% block body %}

<div class="container">
    
    <div class="header" >
        
        <div class="header-content">
            <img src="/static/img/Nav Icon.svg" alt="nav bar">
            <h1 style="font-weight: 300;">Food <strong>Print</strong></h1>
            <p>Walking towards a greener future...<br>one receipt at a time</p>
            <a href="{% url 'upload' %}" style="text-decoration: none;" ><button class="button">Scan your Receipt</button></a>
        </div>
        <div class="wave">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="description" id="about">
        <p class="text">
            Welcome to Food Print; a webapp for the everyday user looking to better 
            understand their impact on the planet.        </p>
        <div class="row">
            <div class="problem">
                <h1>The Problem</h1>
                <img class = "center" src="/static/img/globe.svg" alt="">
                <h2 style="color: white;">People lack insight on the effects their behaviors have on the world.</h2>
                <p class="textTwo">In 2017, Canadians were reported to have emitted 15.59 tons per capita of CO2 emissions. This is one of the highest in the world. </p>
                <hr class="rounded">
                <h2 style="color: white;">How can we lower this number?</h2>
            </div>
            <div class="receipts">
                <h1>Receipts</h1>
                <p class="text" style="color: white;" >Here at Green Track, we provide a quick and easy way for you to check your climate footprint on a day to day basis. By simply uploading pictures of your receipts, we relay to you valuable insights about your purchased items and how much CO2 was emitted to get them to you.</p>
                <div>
                    <a href="{% url 'upload' %}" style="text-decoration: none;" ><button style="display:block; 
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 5vh;
                    "class="button">Scan your Receipt</button></a>
                </div>
                <img class = "center" src="/static/img/receipt.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

{% endblock %}


