{% extends 'base.html' %}
{% load static %}

{% block title %}Food Prints | Home {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <div class="header" >
        <div class="header-content">
            <h1>Food <strong>Prints</strong></h1>
            <p>Walking towards a greener future...<br>one receipt at a time</p>
            <a href="{% url 'upload' %}"><button class="button" type="button">Scan your Receipt</button></a>
        </div>
    </div>
    <div class="description">
        <div class="pitch">
            <p class="text">
            Welcome to Food Prints; a webapp for the everyday user looking to better
            understand their impact on the planet.
            </p>
        </div>
        <div>
            <div class="problem">
                <h2>The Problem</h2>
                <div class="icon">
                    <img src="/static/img/globe.svg" alt="">
                </div>
                <h3 style="color: white;">People lack insight on the effects their behaviors have on the world.</h3>
                <p class="textTwo">In 2017, Canadians were reported to have emitted 15.59 tons per capita of CO<sub>2</sub> emissions. This is one of the highest in the world. </p>
                <hr class="rounded">
                <h3 style="color: white;">How can we lower this number?</h3>
            </div>
            <div class="receipts">
                <h2>Receipts</h2>
                <p class="text" style="color: white;" >Here at Food Prints, we provide a quick and easy way for you to check your climate footprint on a day to day basis. By simply uploading pictures of your receipts, we relay to you valuable insights about your purchased items and how much CO<sub>2</sub> was emitted to get them to you.</p>
                <div>
                <a href="{% url 'upload' %}" style="text-decoration: none;" ><button class="button" type="button">Scan your Receipt</button></a>
                </div>
                <div class="icon">
                    <img src="/static/img/receipt.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div><small>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small></div>

{% endblock %}


