{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<script>
    window.addEventListener('load', function() {
        document.getElementById("id_image").addEventListener("change", function() {
            document.getElementById("prompt").textContent = this.value.substring(Math.max(this.value.lastIndexOf("\\"),this.value.lastIndexOf("/"))+1);
        })
    });
</script>
<style>
    body {
         background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('{% static 'svg/footprint.svg' %}');
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="link">
        <a href="/"><i class="fas fa-chevron-left"></i>&nbsp; Return HOME</a>
    </div>
    <div class="wrapper">
        <div class="upload">
            <h2>Upload your receipt</h2>
            <form class="upload-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="upload-btn">
                    <span id="file-preview"><i class="fas fa-file-upload fa-3x"></i></span>
                    <input type="file" name="image" accept="image/*" required="" id="id_image">
                    <span id="prompt">Click to Browse for Receipt Images</span>
                </label>
                <input class="save-btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}
